body {
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}
div.radio{
    display: flex;
    flex-direction: row;
    width: 150px;
    
}
div.full{
    position: fixed;
    left: 500px;
    right: 50px;
    top: 200px;
    bottom: 250px;
}
#button{
  width: 40%;
  color: black;
  padding: 14px 150px 0px 40px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: transparent;
}
